*.unselectable {
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
/*
#screen * {
  position: absolute;
}*/

#screen {
  background-image: url(../images/clouds.jpg); /*url(back.jpg);*/
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#hud * {
  z-index: 2;
  font-size: 48px;
  font-weight: bold;
}

.stats{
  position:absolute;
  width:200px;
  height:100px;
  border: 1px solid black;
  padding:5px;
}
#credit {
  top: 220px;
  left: 10px;
  width: 748px;
  z-index: 2;
  color: #00CC00;
  text-align: center;
  font-weight: bold;
}

#progress {
  top: 250px;
  left: 284px;
  width: 200px;
}

#score {
  left: 184px;
  top: 16px;
  color: #00CC00;
  text-align: left;
}

#robotCount {
  left: 484px;
  top:  16px;
  color: #FF0000;
  width: 100px;
  text-align: right;
}

#startButton {
  left: 307px;
  top: 550px;
  width: 94px;
}
.kiwi {
  fill: #94d31b; 
}
.block_yellow {
  background-image: url(../images/block_yellow.png) !important; 
}
.block_purple {
  background-image: url(../images/block_purple.png) !important; 
}
.block_red {
  background-image: url(../images/block_red.png) !important; 
}
.block_pink {
  background-image: url(../images/block_pink.png) !important; 
}
.block_lime {
  background-image: url(../images/block_lime.png) !important; 
}
.block_lightblue {
  background-image: url(../images/block_lightblue.png) !important; 
}
.block_greenblue {
  background-image: url(../images/block_greenblue.png) !important; 
}
.block_green {
  background-image: url(../images/block_green.png) !important; 
}
.block_brown {
  background-image: url(../images/block_brown.png) !important; 
}
.block_blue {
  background-image: url(../images/block_blue.png) !important; 
}
.block {
  background-image: url(../images/block.png) !important; 
}

.nemesis_blue {
  background-image: url(../images/nemesis_blue.png) !important; 
}
.nemesis_brown {
  background-image: url(../images/nemesis_brown.png) !important; 
}
.nemesis_green {
  background-image: url(../images/nemesis_green.png) !important; 
}
.nemesis_greenblue {
  background-image: url(../images/nemesis_greenblue.png) !important; 
}
.nemesis_lightblue {
  background-image: url(../images/nemesis_lightblue.png) !important; 
}
.nemesis_lightgreen {
  background-image: url(../images/nemesis_lightgreen.png) !important; 
}
.nemesis_lime {
  background-image: url(../images/nemesis_lime.png) !important; 
}
.nemesis_neon {
  background-image: url(../images/nemesis_neon.png) !important; 
}
.nemesis_pink {
  background-image: url(../images/nemesis_pink.png) !important; 
}
.nemesis_purple {
  background-image: url(../images/nemesis_purple.png) !important; 
}
.nemesis_red {
  background-image: url(../images/nemesis_red.png) !important; 
}
.nemesis_yellow {
  background-image: url(../images/nemesis_yellow.png) !important; 
}
.nemesis_cartoon {
  background-image: url(../images/nemesis_cartoon.png) !important; 
}

.teleport_blue {
  background-image: url(../images/teleport_blue.png) !important; 
}
.teleport_brown {
  background-image: url(../images/teleport_brown.png) !important; 
}
.teleport_green {
  background-image: url(../images/teleport_green.png) !important; 
}
.teleport_greenblue {
  background-image: url(../images/teleport_greenblue.png) !important; 
}
.teleport_lightblue {
  background-image: url(../images/teleport_lightblue.png) !important; 
}
.teleport_lime {
  background-image: url(../images/teleport_lime.png) !important; 
}
.teleport_pink {
  background-image: url(../images/teleport_pink.png) !important; 
}
.teleport_purple {
  background-image: url(../images/teleport_purple.png) !important; 
}
.teleport_red {
  background-image: url(../images/teleport_red.png) !important; 
}
.teleport_yellow {
  background-image: url(../images/teleport_yellow.png) !important; 
}
.teleport {
  background-image: url(../images/teleport.png) !important; 
} 
/*.redLaserRay{
  width: 290px; 
  height: 74px;
  background: url(../images/redLaserRay.png); 
}*/
.explode {
  width: 64px; 
  height: 64px;
  background: url(../images/explode.png);
}
.drop{
  width: 90px; 
  height: 90px;
  background: url(../images/Iso_Cubes90_001.png);
}
.missile{
  width: 31px; 
  height: 128px;
  background: url(../images/missile-sprite.png);
}
ul {
  list-style: none;
}
.points {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #08c;
  font-family: swissmade, sans-serif;
  position: absolute; 
  z-index: 51;  
  left:400px;
  top:500px;
  display: none;
    
}
.points.red{
  color: red;
}
.points.green{
  color: green;
}
.points.yellow{
  color: yellow;
}

#plane1 {

    z-index: 52;
  
    display: none;
    width: 128px;
    height: 150px;
    background-image: url(../images/planeA.png) ;

    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.greenLaserRay{
  position: absolute; 
  z-index: 51;  
  left:400px;
  top:400px;
  display: none; 
}
.redLaserRay{
  position: absolute; 
  z-index: 51;  
  left:400px;
  top:500px;
  display: none; 
}
.greenLaserRay1{
  background: transparent url(../images/greenLaserRay.png);/*  no-repeat fixed center;*/
  position: absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0px;
  width: 350px; 
  height: 74px; 
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
} 
.greenLaserRay2{
  background: transparent url(../images/greenLaserRay.png);/*  no-repeat fixed center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 350px; 
  height: 74px; 
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}
.redLaserRay1{
  background: transparent url(../images/redLaserRay.png);/*  no-repeat fixed center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0px;
  width: 350px; 
  height: 74px; 
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  transform: rotate(-30deg);
} 
.redLaserRay2{
  background: transparent url(../images/redLaserRay.png);/*  no-repeat fixed center;*/
  position: absolute; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 350px; 
  height: 74px; 
  z-index: 51;  
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
} 
.vignette {
  width: 200px;
  height: 100px;
  
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
   -webkit-box-shadow:
            inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
   
     -moz-box-shadow:
            inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
   
          box-shadow:
            inset 0 0 50px #000,
                inset 0 0 50px #000,
                inset 0 0 50px #000;
}
#demoTimer { width: 150px; height: 50px; }
.timer {
        position:relative;
        font-size: 200px;
        width:1em;
        height:1em;
        float: left;
      }
      .timer > .percent {
        position: absolute;
        top: 1.05em;
        left: 0;
        width: 3.33em;
        font-size: 0.3em;
        text-align:center;
      }
      .timer > #slice {
        position:absolute;
        width:1em;
        height:1em;
        clip:rect(0px,1em,1em,0.5em);
      }
      .timer > #slice.gt50 {
        clip:rect(auto, auto, auto, auto);
      }
      .timer > #slice > .pie {
        border: 0.1em solid #C32B2B;
        position:absolute;
        width:0.8em; /* 1 - (2 * border width) */
        height:0.8em; /* 1 - (2 * border width) */
        clip:rect(0em,0.5em,1em,0em);
        -moz-border-radius:0.5em;
        -webkit-border-radius:0.5em; 
        border-radius:0.5em; 
      }
      .timer > #slice > .pie.fill {
        -moz-transform:rotate(180deg) !important;
        -webkit-transform:rotate(180deg) !important;
        -o-transform:rotate(180deg) !important;
        transform:rotate(180deg) !important;
      }
      .timer.fill > .percent {
        display: none;
      }
      .timer.fill > #slice > .pie {
        border: transparent;
        background-color: #C32B2B;
        width:1em;
        height:1em;
      }

#demo { width: 400px; margin: 0 auto; text-align: center;position: relative; }

#controls { text-align: center;position: relative; }

#demo #notes   { margin-bottom: 1em; position: relative;}
#demo #diagram { width: 400px; height: 275px; position: relative;}
#demo #output  { width: 100%;  height: 30em;  position: relative;}

#demo.green  #diagram { background: url(images/green.png);  }
#demo.yellow #diagram { background: url(images/yellow.png); }
#demo.red    #diagram { background: url(images/red.png);    }

.preload { position: absolute; left: -1000px; }
